<!DOCTYPE html>
{% load static %}
<html lang="en">
<header>
    <a href="http://localhost:8000"><img src="{% static 'statement_reader/images/home_button.png' %}" alt="home">
    </a>
    
</header>
<head>
    <title>Uploaded Files</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'statement_reader/css/style.css' %}">
    <h1>Uploaded Files</h1>
    <ul>
        {% for pdf in pdfs %}
            <li>
                <strong>{{ pdf.file }}</strong> - 
                <a href="{{ pdf.file.url }}" target="_blank">View File</a>

                <form method="post" action="{% url 'delete_pdf' pdf.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete File</button>
                </form>
            </li>
        {% empty %}
            <li>No files uploaded yet.</li>
        {% endfor %}
    </ul>
</body>
</html>