<!DOCTYPE html>
{% load static %}
<html lang="en">
<header>
    <a href="http://localhost:8000"><img src="{% static 'statement_reader/images/home_button.png' %}" alt="home">
    </a>
</header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statement Reader</title>
    <link rel="stylesheet" href="{% static 'statement_reader/css/style.css' %}">
</head>
<body>
<div style="text-align: center;">
    <h1>Statement Reader</h1>

    <form method="post" enctype="multipart/form-data" action="/reader/">
        {% csrf_token %}
        <input type="file" name="file" accept=".pdf">
        <br><br>
        <button type="submit" class="submit-button">Submit statement PDF</button>
    </form>
    <br>
    <br>
    <a href="http://localhost:8000/pdf">
        <button class="button-page">View list of uploaded files</button>
    </a>
</div>
</body>
</html>
