<!DOCTYPE html>
{% load static %}
<html>

<body>
  <link rel="stylesheet" href="{% static 'statement_reader/css/style.css' %}">
    <a href="http://localhost:8000"><- Home</a>

  <h1>Transactions</h1>

  <ul>
    {% for x in transactions %}
        <li>
          {{ x.vendor_name }}
          ${{ x.amount }}
          {{ x.date }}
	  {{ x.get_category_display }}
          <a href="{% url 'transaction_edit_form' x.pk %}">
            Edit Item
          </a>
          <a href="{% url 'transaction_delete_item' x.pk %}">
            Delete Item
          </a>
        </li>

    {% endfor %}
  </ul>

</body>

</html>
