<!DOCTYPE html>
{% load static %}
<html>

<header>
    <a href="http://localhost:8000"><img src="{% static 'statement_reader/images/home_button.png' %}" alt="home">
    </a>

</header>

<body>
    <link rel="stylesheet" href="{% static 'statement_reader/css/style.css' %}">
    <div>
        <h1 style="text-align: center;">Finance Tracker</h1>
    </div>

    <form action="/save_categories" method="post" class="transaction-form">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            <div class="form-group">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{ form.as_p }}
            </div>
        {% endfor %}

        
        <button type="submit" class="submit-button" value="Submit"></button>
        <br>
    </form>

</body>

</html>
